ul {
  list-style: none;
  font-size: 25px;
  position: relative;
  top: 20px;
}
img {
  width: 100px;
}
input {
  height: 40px;
}
p {
  font-size: 20px;
  font-family: "Abel", sans-serif;
}
h4 {
  font-family: "Kanit", sans-serif;
}
.left {
  padding: 80px;
  margin-left: 100px;
}
.icons img {
  width: 50px;
}
.right {
  margin-left: 50px;
}
.container {
  padding: 30px 50px;
}
.todays-details {
  margin: 70px auto;
  font-family: "Abel", sans-serif;
}
.card-body-big {
  padding: 40px 90px;
}
.col.right {
  margin-left: 0;
}

.city {
  font-size: 50px;
  font-family: "Noto Sans", sans-serif;
}
.temp {
  font-size: 40px;
}
.search-city {
  width: 70%;
}
#current-location {
  width: 17%;
  height: 40px;
  border-radius: 7px;
  background-color: lightblue;
  font-weight: bold;
}
#current-location:hover {
  background-color: aliceblue;
}
.search {
  width: 10%;
  border-radius: 7px;
}
.bottom {
  text-align: center;
}
#celsius-link,
#fahrenheit-link {
  text-decoration: none;
}
#open-source {
  display: block;
  text-align: center;
}
